
.section1
{
    padding-top: 85px;
    padding-bottom: 60px;
    background-color: white;
    
}
.container
{
    text-align: center;
}


.description1
{
    color: gray;
    padding: 40px;
    margin: auto;
    font-size: 15px;
    line-height: 2;
}

.card_blog
{
    border: none;
}


.card img{
    min-height: 260px;
}
.card-text{
    color: gray;
}

